<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pdsu.project.dao.AreaDataMapper" >
  <resultMap id="BaseResultMap" type="pdsu.project.domain.AreaData" >
    <id column="code_id" property="codeId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area_data
    where code_id = #{codeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pdsu.project.domain.AreaData" >
    insert into area_data (code_id, parent_id, city_name
      )
    values (#{codeId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="pdsu.project.domain.AreaData" >
    update area_data
    set parent_id = #{parentId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR}
    where code_id = #{codeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select code_id, parent_id, city_name
    from area_data
    where code_id = #{codeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select code_id, parent_id, city_name
    from area_data
  </select>
  <select id="selectAreaId" resultType="java.lang.Integer">

    select  out_area
    from out_information where report_id=#{id}
  </select>
    <select id="selectByCityAndArea" resultType="java.lang.Integer">
     select code_id
    from area_data  where  city_name =#{aname}   and parent_id=(select code_id
    from area_data where city_name = #{cname} )

    </select>
    <select id="selectByCity" resultType="java.lang.Integer">
        select code_id
    from area_data  where  city_name =#{cname}

    </select>
</mapper>